* {
  font-family: 'Roboto', sans-serif;
  margin:0;  
  padding:0;  
}

body {
  width: 100%; 
  text-align: center;
  background-color: #fcfcfc;
}

audio {
  position: fixed;
  top: 0;
  right: 0;
}

.header {
  background-color: white;
  height: 100vh;
  background-image: url('../img/background-new.png');
  background-size: cover;
  background-position: center;
  transition: background-color, 0.5s, linear; 
  display: flex;
  justify-content: center;
}

.header .btn {
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 200px;
  height: 80px;
  font-size: 24px;
  font-weight: 400;
  border: 3px solid blue;
  background-color: rgb(34, 218, 246);
  color: purple;
  border-radius: 20px;
}

.header .btn:hover {
  background-color: orange;
}

.header h1 {
  width: 100%;
  margin: auto;
  transform: translateY(-20%);
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 75px;
  letter-spacing: 3px;
  color: rgb(255, 247, 8);
/*  background-color: rgba(153, 49, 246,0.8);
*/  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(41, 0, 246);
  text-shadow: 8px 9px 10px #ff0000;
}

.main-bg {
  background-image: url("../img/bgcrazy.png");
  /*background-image: url("https://eastsidejenaost.files.wordpress.com/2016/02/a_ausrufezeichen24.gif?w=1400&h=9999");*/
  background-size: cover;
  background-position: center; 
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  padding-top: 8%;
  min-height: 80%;
  width: 60%;
  background-color: rgba(0,0,0,0.7);
  align-self: center;
  border-radius: 50px;
}

.guess {
  width: 70%;
  margin: auto;
  clear: both;
  color: purple;
}

h3 {
  font-weight: 400;
  font-size: 40px;
  color: rgb(82, 250, 76);
}

h4 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(250, 76, 227);
  padding-bottom: 30px;
}

h5 {
  font-weight: 400;
  font-size: 16px;
}

p {
  color: rgb(16, 247, 242);
}

#warning {
  color: #cd3700;
}

#finalMsg {
  padding-top: 30px;
}

.btn {
  text-transform: uppercase;
  background-color: lime;
  outline: none;
  color: black;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 120px;
  margin-left: 5%;
  box-shadow: 0 3px 5px rgba(9,9,9,0.3);
}

.buttons .btn {
  text-transform: uppercase;
  outline: none;
  color: black;
  border: none;
  font-size: 1.5em;
  height: 50px;
  width: 120px;
  margin: 0 2.5%;
  font-weight: 800;
  box-shadow: 0 3px 5px rgba(9,9,9,0.3);
}

button {
    border-radius: 10px;

}

.buttons .btn:nth-child(2) {
  background-image: url('../img/danishflag.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.buttons .btn:nth-child(2):hover {
    background-image: url('../img/swedenflag.jpg');
}

.buttons .btn {
  background-image: url('../img/swedenflag.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.buttons .btn:hover {
    background-image: url('../img/danishflag.png');
}

.buttons .btn[disabled]:nth-child(2):hover {
  background-image: url('../img/danishflag.png');
}

.buttons .btn[disabled]:hover {
  background-image: url('../img/swedenflag.jpg');
}

.buttons .disabled {
  background-image: url('../img/disabledflag.png');
}


.buttons {
  padding: 30px 0px;
  height: 50px;
}

section input[type="text"]:active {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-bottom: 2px solid #1abc9c;
}

#guess-field {
  padding-left: 5px;
  outline: none;
  background: #ccc;
  border: none;
  font-size: 14px;
  height: 35px;
  width: 195px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3),
    0 0 0 100px #fff inset;
}

.message img {
  max-width: 100%;
}

.success {
  background-color: green;
  color: white;
}

.fail {
  background-color: red;
  color: white;
}

#next {
  display: none;
  margin: 2.5% 0;
}


#neon {
  text-align:center;
  height: 100px;
  width: 200px;
  border:5px solid #1086e8;
  border-radius: 20px;
  margin: 5% auto;
  animation: border-flicker 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#neon h3 {
  color:#FF00E6;
  font-family: 'Helvetica', sans-serif;
  font-size:64px;
  letter-spacing:10px;
  animation: text-flicker 3s linear infinite;
}

#ans-msg {
  line-height: 30px;
  font-size: 1.2em;
  width: 50%;
  margin: 0 auto;
}

.message img {
  max-width: 100%
  height: 200px;
}




#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}



@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}


@media screen and (max-width:980px) {
  .main-bg .main {
    padding-top: 8%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    align-self: center;
  }

  .guess {
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .btn {
    flex-wrap: wrap;
  }
}



